// 整体布局
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  .panel {
    width: 50%;
    min-width: 550px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    &:first-of-type {
      border-right: solid 1px #ddd;
    }
    
    // 顶部操作
    header {
      height: 70px;
      line-height: 70px;
      padding-left: 40px;
      border-bottom: solid 1px #ddd;
      button {
        width: 80px;
        height: 32px;
        line-height: 32px;
        color: #fff;
        background-color: $global-color;
        &:hover {
          cursor: pointer;
        }
      }
    }

    // 窗口显示区域
    .main {
      width: 100%;
      min-width: 500px;
      height: calc(100% - 70px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}