* {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
} 

input, button, select, textarea {
  outline: none;
}

textarea {
  resize: none;
}

button {
  border: none;
  background: $global-color;
  color: #fff;
  border-radius: $border-radius-base;
  &:hover {
    cursor: pointer;
  }
}

// 取消按钮
button.cancel {
  background: #fff;
  color: #999;
  border: solid 1px #999;
  &:hover {
    color: $global-color;
    border: solid 1px $global-color;
  }
}
